pipeline/variables_demo.json
{
	"name": "variables_demo",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "files",
					"value": [
						"colors",
						"inventories",
						"inventory_parts",
						"part_categories",
						"parts",
						"sets",
						"themes"
					]
				}
			},
			{
				"name": "If Load all files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.loadAllFiles",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "files",
								"value": "inventory_sets"
							}
						},
						{
							"name": "Append variable2",
							"description": "",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "files",
								"value": "part_relationships"
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Load all files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "listOfFiles",
					"value": {
						"value": "Load @{length(variables('files'))} files:@{join(variables('files'),',')}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"loadAllFiles": {
				"type": "bool"
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			},
			"listOfFiles": {
				"type": "String"
			},
			"loadAllFiles": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Parameters and Variables"
		},
		"annotations": []
	}
}